<%- include("static/header.ejs"); %>
    <div class="container px-3 mt-5">
      <div class="columns mt-5 pt-5">
        <div class="column">
          <p class="has-text-white title is-large"><i class="fad fa-robot has-text-info"></i> Best Bots</p>
          <p class="content has-text-white" style="margin-top: -20px;">The most beautiful bots of this month are listed here!</p>
        </div>
        <div class="column">
          <!--<img draggable="false" class="has-text-centered centered" style="width: 90%;" src="https://cdn.discordapp.com/attachments/794310443635310653/796808108797329438/Untitled-1.png">-->        </div>
      </div>

      
      <div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">

      <%
        for (let i = (page - 1) * 8; i < data.length; i++) {
        if (i === 8 * page) break;
        let bbdBot = data[i];
        
      %>      

        <div class="column is-3 mb-5">          
            <div class="box botCard bg-dark">
              <div>
                <div class="is-inline-block">
                  <span class="tag is-dark mt-1 w-100">Votes: <%= bbdBot.votes %></span>
                  <br>
                  <span class="tag is-dark mt-1 w-100">Invites: <%= bbdBot.invites %></span>
                </div>
                <img draggable="false" onerror="imgError(this);" src="https://cdn.discordapp.com/avatars/<%= bbdBot.id %>/<%= bbdBot.avatar %>.webp?size=256" class="is-pulled-right	cardBotImg z">
              </div>
              <p class="cardBotName has-text-white mt-5"><%= bbdBot.username %>  <% if (bot.guilds.cache.get("785468934844973056").members.cache.get(bbdBot.id)) { if (bot.guilds.cache.get("785468934844973056").members.cache.get(bbdBot.id).roles.cache.get("794266963282886686")) {%><span data-tippy-content="Certified" class="tippy has-text-info has-text-centered"><i class="fad fa-badge-check"></i></span><%}}%> </p>   
              <p class="cardBotDesc mt-1"><%= bbdBot.shortDescription.substring(0, 200) %></p>
              <div class="cardButtons is-flex">
                  <a href="/bot/<%= bbdBot.id %>" class="cardBtn1"><i class="fad fa-eye"></i>&nbsp;View</a>
                  <a href="/bot/<%= bbdBot.id %>/invite" class="cardBtn2"><i class="fad fa-user-plus"></i>&nbsp;Invite</a>
              </div>
            </div>
        </div>
        <% } %>
      </div>

      <div class="mt-5 pt-5"></div>
      <%
      if (page != 1) {
      %>
        <a href="/bots?page=<%= page-1; %>" class="pagination-link is-current centered"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <% }
    if (page != Math.ceil(data.length / 8) && data.length > 0) {
    %>
        <a href="/bots?page=<%= Number(page)+ Number(1); %>" class="pagination-link is-current centered"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>

      <% } %>

      </div>

    <%- include("static/footer.ejs"); %>
    